<h1>New Prod</h1>

<%= simple_form_for @prod do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :cost %>
  <%= f.input :category_id, collection: @categories, prompt: "Select a category" %>
  <%= f.submit "Post!" %>
<% end %>