<div class="booyah-box col-12 offset-1">
  <h1>New Products</h1>

  <%= simple_form_for @prod do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :cost %>
    <%= f.input :category_id, collection: @categories, prompt: "Select a category" %>
    <br />
    <%= f.submit "Post!" %>
  <% end %>
</div