<div class="booyah-box col-10 offset-1">
  <h1><%= @prod.name %></h1>
  <br /><br />
  <p><<%= @prod.description %></p>
  <div class="float-right">
    <% if current_user && current_user == @prod.user %>
      <%= link_to 'Edit', edit_prod_path(@prod), class: 'btn btn-primary' %>

      <%= link_to 'Take Off the Market', prod_path(@prod), method: :delete, data: {confirm: 'Are you positive you do not wanna sell this?'},class: 'btn btn-danger' %>
    <% end %>
  </div>
  <div class="clear"></div>
  <%= simple_form_for @comment, url: prod_comments_path(@prod) do |f| %>
    <%= f.input :message %>
    <%= f.input :rating, as: :select, collection: Comment::RATINGS %>

    <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
  <% end %>

  <h1>Comments</h1>

  <% @prod.comments.each do |comment| %>
    <div>
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
</div>
