<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= @prod.name %></h1>
  <br /><br />
  <ul>
    <% @prod.images.each do |image| %>
      <li><%= image_tag image.url %></li>
    <% end %>
  </ul>
  <p>$ <%= @prod.cost %></p>
  <p><%= @prod.description %></p>
  <button type="button" class="btn btn-outline-primary">buy now</button>
  <div class="float-right">
    <% if current_user && current_user == @prod.user %>
      <%= link_to 'Edit', edit_prod_path(@prod), class: 'btn btn-primary' %>

      <%= link_to 'Take Off the Market', prod_path(@prod), method: :delete, data: {confirm: 'Are you positive you do not wanna sell this?'},class: 'btn btn-danger' %>
    <% end %>
  </div>
  <div class="clear"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
        </div>
        <%= simple_form_for @comment, url: prod_comments_path(@prod) do |f| %>
          <div class="modal-body">
            <%= f.input :message %>
            <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Add a Comment", class: 'btn btn-outline-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <h2 class="text-center">Comments</h2>
  <br /><br />

  <div class="row">
    <% @prod.comments.each do |comment| %>
      <div class="col-12 col-sm-6">
        <blockquote>
          <% if comment.humanized_rating.present? %>
            <b><%= comment.humanized_rating %></b> -
          <% end %>
          <%= comment.message %>
          <small><%= comment.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>

  <div class="col-10 offset-1">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Add a comment
    </button>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="text-center">Related Products</h2>
      <% @related_products.each do |prod| %>
        <div class="card">
          <div class="row">
            <div class="col-md-2">
              <%= image_tag prod.default_image, width: "100%" %>
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title"><%= link_to prod.name, prod %></h5>
                <p class="card-text"><%= prod.description %></p>
                <%= link_to 'Check it out', prod, class: "btn btn-outline-primary" %>
                <% if prod.comments.present? %>
                  <blockquote class="blockquote">
                    <% if prod.comments.last.humanized_rating.present? %>
                      <b><%= prod.comments.last.humanized_rating %></b> -
                    <% end %>
                    <%= prod.comments.last.message %>
                    <small><%= prod.comments.last.user.email %></small>
                  </blockquote>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

